body{
    margin:0;
    padding: 0;
    background: rgb(25,25,34);
    color: #fff;
    font-family: Helvetica;
}

h1{
    text-align: center;
}

.container{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.item-container{
    max-width: 200px;
    min-width: 100px;
    width: 10%;
    margin: 10px;
}
.item-container img{
    width: 100%
}